.timeline {
  .date {
    font-family: $heading-font;
    font-size: 2em;
    color: $dark;
    padding: 5% 10% 2% 10%;
  }

  .description {
    width: 60%;
    font-family: $text-font;
    font-size: 1em;
    color: $med;
    padding: 0 10% 10% 10%;
  }
}
