/* Colors */
@font-face {
  font-family: 'Uni Sans';
  src: url("C:/Users/Murphy/Documents/website/resources/Uni-Sans.otf") format("woff"); }
@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.google.com/specimen/Raleway"); }
/* Menu Styling */
body {
  background-color: #eeecda; }

* {
  padding: 0;
  margin: 0; }

.toggle {
  position: fixed;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 2; }
  .toggle button:focus {
    outline: 0; }

.hamburger {
  color: #080e3b;
  transition: color .5s ease; }

.menu {
  background-color: #080e3b;
  left: 0;
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  padding-left: 5%;
  transition: left .5s ease; }
  .menu a {
    text-decoration: none;
    cursor: pointer;
    color: #eeecda; }
  .menu .nav {
    padding-top: 30%;
    list-style: none; }
    .menu .nav a {
      text-decoration: none;
      color: #eeecda;
      font-family: "Raleway";
      padding-top: 1rem;
      transition: margin-left .8s; }
      .menu .nav a:hover {
        color: #d1492d;
        cursor: pointer;
        margin-left: .5rem; }
      .menu .nav a:active {
        color: #d1492d;
        margin-left: .5rem; }
    .menu .nav li {
      padding-top: 1rem; }
    .menu .nav #gap {
      padding-top: 2rem; }
  .menu h1 {
    color: #eeecda;
    font-family: "Playfair Display";
    font-size: 2rem;
    font-weight: 'black'; }
  .menu .social {
    list-style: none;
    padding-top: 1rem; }
    .menu .social li {
      display: inline-block;
      width: 1.3rem;
      padding-right: .5rem;
      fill: #eeecda; }
      .menu .social li:hover {
        fill: #d1492d;
        cursor: pointer; }

.content {
  position: relative;
  transition: width .5s ease, left .5s ease; }
  .content h2 {
    font-family: "Playfair Display";
    color: #080e3b;
    font-size: 3em;
    padding-left: 10%;
    padding-top: 10%;
    width: 70%; }
  .content .red {
    color: #d1492d; }
  .content .no-padding {
    padding-top: 0; }
  .content .tag {
    font-family: "Raleway";
    color: #666666;
    padding-left: 10%;
    padding-top: 5%; }
  .content #copyright {
    font-family: "Raleway";
    font-size: .8em;
    color: #666666;
    text-align: center;
    padding-bottom: 1em; }

.menu .action {
  padding: 2%;
  margin-top: 6%;
  margin-right: 5%;
  background-color: Transparent;
  color: #eeecda;
  border: thin solid #eeecda;
  width: 6em;
  font-family: "Raleway";
  transition: border-radius .8s ease-in-out; }
  .menu .action:hover {
    background-color: #d1492d;
    cursor: pointer;
    border-radius: 1em; }

.projects .more {
  padding: 2%;
  margin-top: 10%;
  background-color: #eeecda;
  color: #080e3b;
  border: thin solid #080e3b;
  width: 10em;
  font-family: "Raleway";
  border-radius: 1em;
  transition: width .8s ease-in-out; }
  .projects .more:hover {
    background-color: #eeecda;
    cursor: pointer;
    width: 40%; }
  .projects .more a {
    text-decoration: none; }

/* Styling for Project Boxes */
.projects {
  list-style: none; }
  .projects li {
    margin: 3%;
    background-color: #d1492d;
    padding: 10%; }
    .projects li .heading {
      font-size: 2.6em;
      font-family: "Playfair Display";
      color: #080e3b;
      display: inline-block;
      width: 28%; }
    .projects li .skills {
      text-transform: uppercase;
      color: #080e3b;
      font-family: "Raleway";
      padding-bottom: 1em;
      word-spacing: 1.2em; }
    .projects li .description {
      color: #eeecda;
      font-family: "Raleway";
      font-size: 1em;
      display: inline-block;
      line-height: 2em; }
    .projects li .left {
      vertical-align: top;
      display: inline-block;
      padding-left: 20%;
      width: 50%; }

.content {
  background-color: #eeecda; }
  .content .about .headshot {
    display: inline-block;
    width: 50%;
    filter: grayscale(100%);
    margin: 0; }
  .content .about .block {
    display: inline-block;
    background-color: #d1492d;
    width: 40%; }
    .content .about .block .tag {
      font-family: "Playfair Display";
      color: #080e3b;
      border: 2px solid #d1492d; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #080e3b;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  background-color: #eeecda;
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  background-color: #eeecda;
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  background-color: #eeecda;
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*# sourceMappingURL=main.css.map */
