/* 
   CSS Reset

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  CUSTOM CSS STARTS HERE
*/

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.google.com/specimen/Raleway");
}

html,
body {
  min-height: 100%;
}

html {
  --blue-1: #080e3b;
  --blue-2: #225097;
  --blue-3: #5692c1;
  --blue-4: #7badd2;
  --blue-5: #a7c9df;
  --blue-6: #cadaee;
  --red-1: #cc6060;
  --red-2: #5f0f12;
  --white: #fffffe;
  --background: #fbfbfb;
  --secondary: #01a401;
  --primary: #333333;
  --tertiary: var(--secondary);
  --spacing: 8px;
  --mobileBreakpoint: 550px;
}

body {
  font-family: "Inconsolata", monospace;
}

body,
a,
p {
  background-color: var(--background);
  line-height: 1.2;
  color: var(--primary);
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  line-height: 1;
  font-weight: 800;
}

a {
  font-size: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.highlight {
  color: var(--secondary);
}

.spacer {
  height: calc(var(--spacing) * 4);
}

.no-underline {
  text-decoration: none;
}

a {
  text-decoration: none;
}

::selection {
  color: var(--background);
  background-color: var(--secondary);
}

a:hover,
a:hover svg {
  color: var(--tertiary);
  transition: color 200ms;
}

a:hover svg {
  transform: rotate(20deg);
  transition: all 200ms;
}

a,
a svg {
  transition: all 300ms;
}

body {
  padding: 2rem;
}

/* .grid {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr min(60ch, 100%) 1fr;
  grid-template-rows: calc(24px + 2 * var(--spacing)) 1fr;
} */

main {
  /* padding: 2rem calc(var(--spacing) * 2); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--spacing) * 4);
  max-width: 70ch;
}

header {
  color: var(--primary);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  padding: calc(var(--spacing) * 2);
  gap: calc(2 * var(--spacing));
}

header svg {
  color: var(--primary);
  width: 24px;
  stroke-width: 2;
}
/* 
.projects {
  display: flex;
  gap: var(--spacing);
  align-items: baseline;
  flex-wrap: wrap;
}

.projects ul {
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
} */

footer {
  /* padding: calc(var(--spacing) * 2); */
  grid-column: 2;
  line-height: 1.4;
}

footer p,
footer a {
  font-size: 0.8rem;
}

.heading {
  font-size: clamp(1rem, -1.5rem + 8vw, 4rem);
  color: var(--primary);
}

/* .job-description {
  font-size: 2rem;
} */

.multi-faceted {
  line-height: 1.4;
}

.previously {
  padding-top: 1rem;
  color: var(--secondary);
  font-size: 1rem;
}
.flow-field {
  grid-column: 2;
  height: 400px;
}
canvas {
  display: block;
  height: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  /* MOBILE STYLE ADJUSTMENTS */
  .heading {
    font-size: 3rem;
  }
  header {
    padding-right: calc(var(--spacing) * 4);
  }
}
