/* Colors */
@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.google.com/specimen/Raleway"); 
}

/* @font-face {
  font-family: 'Playfair Display';
  src: url("https://fonts.googleapis.com/css?family=Playfair+Display:900");
} */
body {
  background-color: #f0f0f0;
  color: #080e3b;
}
h1, h2 {
  font-family: "Playfair Display", serif; 
  color: #080e3b;
}

span {
  color:  #cc6060;
}

/* p, a {
  font-family: "Raleway";
} */