/* Styling for different site buttons */
.menu {
  .action {
    padding: .4rem;
    margin-top: .5rem;
    margin-right: .5rem;
    background-color: Transparent;
    color: $light;
    border: thin solid $light;
    width: 6rem;
    font-family: $text-font;
    transition: border-radius .5s ease;
    &:hover {
      background-color: $highlight;
      cursor: pointer;
      border-radius: .5rem;
    }
  }
}

.projects {
  .more {
    padding: .5rem 0 .5rem 0;
    margin-top: 2rem;
    background-color: $light;
    color: $dark;
    border: thin solid $dark;
    width: 8rem;
    font-family: $text-font;
    //border-radius: 1em;
    transition: border-radius .5s ease;
    &:hover {
      background-color: $light;
      cursor: pointer;
      border-radius: .5rem;
    }
    a {
      color: $dark;
      text-decoration: none;
    }
  }
}
