/* Styling for different site buttons */
.menu {
  .action {
    position: relative;
    top: .4rem;
    padding: .2rem 1rem .2rem 1rem;
    background-color: Transparent;
    color: $light;
    border: thin solid $light;
    /*width: 3vw;*/
    font-family: $text-font;
    transition: border-radius .5s ease;
    &:hover {
      background-color: $highlight;
      cursor: pointer;
      border-radius: .5rem;
    }
  }
}

.projects {
  .more {
    padding: .5rem 3rem .5rem 3rem;
    position: relative;
    top: 2.5rem;
    background-color: $light;
    color: $dark;
    border: thin solid $dark;
    font-family: $text-font;
    transition: border-radius .5s ease;
    color: $dark;
    text-decoration: none;
    &:hover {
      background-color: $light;
      cursor: pointer;
      border-radius: .5rem;
    }
  }
}
