.footer {
  margin-top: 10%;
  width: 100vw;
  height:8rem;
  background-color: $dark;
  padding: 5rem 10rem 2rem 10rem;
  h3 {
    color: $light;
    font-size: 3.5vmin;
  }
  .links {
    list-style: none;
    margin-top: .2rem;
    a {
      text-decoration: none;
      color: $light;
      font-family: $text-font;
      font-size: 2.5vmin;
      padding-right: .5rem;
      &:hover {
        color: $highlight;
      }
    }
    .resume {
      padding-left: .5rem;
    }
    .email {
      border-right: thin solid $light;
    }
    li {
      display: inline-block;
     }
  }
  .social {
    list-style: none;
    margin-top: .4rem;
    li {
      display: inline-block;
      width: 3vmin;
      padding-right: .5rem;
      fill: $light;
      &:hover {
        fill: $highlight;
        cursor: pointer;
      }
    }
  }
}
