/* Styling for Project Boxes */
.projects {
  margin-left: 4rem;
  margin-top: 8rem;
  list-style: none;
  li {
    //clip-path: polygon(0 100%,50% 100%,100% 100%,100% 100%);
    background-color: $highlight;
    padding: 3rem;
    h3 {
      font-size: 2vw;
      line-height: 2.2rem;
      font-family: $heading-font;
      color: $dark;
      font-size: 2.5rem;
    }
    .skills {
      font-size: 1.2vw;
      text-transform: uppercase;
      padding-top: .5rem;
      color: $dark;
      font-family: $text-font;
    }
    .description {
      font-size: 1.35vw;
      padding-top: 1rem;
      font-family: $text-font;
      color: $light;
    }
  }
}
