/* Styling for Project Entries */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  .project {
    display: inline-block;
    border: 2px solid $dark;
    border-radius: 10px;
    padding: 3rem;
    .title {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
    .skills-used {
      li {
        display: inline-block;
        color: $highlight;
        padding-left: 1rem;
      }
      #first {
        padding-left: 0;
      }
    }
    .description {
      padding-top: 1rem;
      //width: 15rem;
      font-size: 1.5vh;
      color: $med;
    }
  }
}
