//about page
.content {
  background-color: $light;

  .about {
    margin-left: 4rem;
    margin-top: 6rem;
    display: flex;
    .headshot {
      img {
        width: 20rem;
      }
      align-self: center;
      display: inline-block;
      filter: grayscale(100%);
      margin: 0;
    }
    p {
      display: inline-block;
      //align-content: center;
      padding: 0 2rem 0 2rem;
      width: 50%;
      font-family: $text-font;
      color: $med;
      font-size: 2vmax;
      span {
        color: $dark;
        font-family: $heading-font;
      }
    }

  }
}
