/* Content of the Home Page */
.content {
  padding: 8%;
  .head {
    font-family: $heading-font;
    color: $dark;
    width: 80%;
    font-size: 8vmin;
  }
  .red {
      color: $highlight;
      margin-bottom: 4rem;
    }
  .no-padding {
    padding-top: 0;
  }
  .hire-me {
    visibility: collapse;
    margin-top: 10rem;
    font-family: $text-font;
    font-weight: 400;
    font-size: 3vmin;
    border: 2px solid $med;
    border-radius: 1rem;
    padding: .8rem 1.5rem .8rem 1.5rem;
    color: $med;
    text-decoration: none;
    width: 15rem;
    transition: width .3s;
    &:hover {
      width: 18rem;
    }
  }
}

.subheading {
  font-family: $text-font;
  font-size: 3vmin;
  color: $med;
  margin: 1rem 0 1rem 0;
}
