/* Content of the Home Page */
.content {
  position: relative;
  transition: width .5s ease,
              left .5s ease;
  h2 {
    font-family: $heading-font;
    color: $dark;
    font-size: 4vw;
    padding-left: 10rem;
    padding-top: 10%;
    width: 70%;
  }
  .red {
      color: $highlight;
    }
  .no-padding {
    padding-top: 0;
  }
  .tag {
    display: inline-block;
    font-size: 1.5vw;
    font-family: $text-font;
    color: $med;
    margin-top: 2rem;
    margin-left: 10rem;
  //  padding: .25rem 1rem .25rem 1rem;
  //  border: medium solid $med;
  //  border-radius: .25rem;
  }

  #copyright {
    padding: 1rem 0 1rem 0;
    font-family: $text-font;
    font-size: 1vw;
    color: $med;
    text-align: center;
  }
}
