/* Content of the Home Page */
.content {
  position: relative;
  transition: width .5s ease,
              left .5s ease;
  h2 {
    font-family: $heading-font;
    color: $dark;
    font-size: 3rem;
    padding-left: 17%;
    padding-top: 10%;
    width: 70%
  }
  .red {
      color: $highlight;
    }
  .no-padding {
    padding-top: 0;
  }
  .tag {
    font-family: $text-font;
    color: $med;
    padding-left: 17%;
    padding-top: 5%;
  }

  #copyright {
    padding: 1rem 0 1rem 0;
    font-family: $text-font;
    font-size: .8rem;
    color: $med;
    text-align: center;
  }
}
