.container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.title {
  font-family: "Playfair Display";
}
.about {
  img {
    display: block;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  .intro-text {
    font-size: 7vh;
    padding-top: 4rem;
    color: $dark;
  }
  p {
    padding-top: 2rem;
    font-size: 2vh;
  }
}

.industries {
  margin-top: 3rem;
  margin-bottom: 6rem;
  .heading {
    padding-top: 1rem;
  }
  .img {
    width: 6rem;
  }
}

.lead-in {
  display: inline-block;
  margin: auto;
}

.dropdown-trigger {
  display: float;
  margin: auto;
  .drop {
    padding: 1rem;
  }
}


.skills {
  background-color: $dark;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .heading {
    color: $highlight;
  }
  li {
    color: $light;
  }
  .lang {
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}

.red {
  color: $highlight;
}

.disclaimer {
  padding-bottom: 3rem;
  max-width: 70rem;
}
