/* Menu Styling */
body {
  background-color: $light;
/*  width: 100vw;*/
}

* {
  padding: 0;
  margin: 0;
}

.toggle {
  position: fixed;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 2; //at front
  button:focus {outline:0;}
}

.hamburger {
  color: $dark;
  transition: color .5s ease;
  visibility: hidden;
}

.nav {
  font-family: $text-font;
  list-style: none;
  display: inline-block;

}

.togglable {
  visibility: hidden; //toggled by hamburger
  margin-left: 5rem;
}
