$heading-font: 'Playfair Display';
$text-font: 'Raleway';

/*
@font-face {
  font-family: 'Uni Sans';
  src: url('C:/Users/Murphy/Documents/website/resources/Uni-Sans.otf') format("woff");
}

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.google.com/specimen/Raleway');
}
*/
